.faq {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px;
  z-index: 40;
  .h2 {
    margin-bottom: 24px;
  }
  .faq-accardeon {
    .panel {
      .panel-heading {
        position: relative;
        display: block;
        width: 100%;
        padding: 18px 82px 18px 32px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 19px;
        color: var(--text-color);
        background-color: var(--ice-color);
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 22px;
          width: 24px;
          height: 24px;
          background: url("../img/icons/icon-faq-arrow.svg") center / contain no-repeat;
          transform: translateY(-50%);
          transition: all 0.3s ease;
        }
        &.in:after {
          transform: translateY(-50%) rotate(90deg);
        }
      }
      .panel-collapse {
        display: none;
        .panel-body {
          padding: 20px 32px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .faq .faq-accardeon .panel .panel-heading {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .faq .faq-accardeon .panel .panel-heading {
    padding: 14px 80px 14px 24px;
    font-size: 17px;
  }
  .faq .faq-accardeon .panel .panel-collapse .panel-body {
    padding: 14px 24px;
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .faq .faq-accardeon .panel .panel-heading {
    padding: 10px 50px 10px 16px;
    font-size: 16px;
  }
  .faq .faq-accardeon .panel .panel-heading:after {
    right: 14px;
  }
  .faq .faq-accardeon .panel .panel-collapse .panel-body {
    padding: 14px 16px;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
}
