.head {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 60px 40px;
  background-color: var(--ice-color);
  z-index: 40;
  .h1 {
    margin-bottom: 8px;
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
