.help {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px;
  z-index: 40;
  .wpcf7 {
    display: block;
    width: 100%;
    max-width: 540px;
    padding: 24px;
    background-color: var(--ice-color);
    .wpcf7-form {
      display: block;
      width: 100%;
      .wpcf7-label {
        display: block;
        width: 100%;
        max-width: max-content;
        margin-bottom: 6px;
        padding: 4px 6px;
        background-color: var(--white-color);
      }
      .h2 {
        margin-bottom: 16px;
        line-height: 1.3;
      }
      .descr {
        margin-bottom: 40px;
      }
      .wpcf7-form-control-wrap {
        display: block;
        width: 100%;
        margin-bottom: 16px;
        input[type="text"],
        input[type="email"],
        textarea {
          display: block;
          width: 100%;
          padding: 12px 18px;
          font-family: var(--font-family);
          font-weight: var(--font-weight);
          font-size: 16px;
          color: var(--text-color);
          background-color: #fff;
          &::placeholder {
            color: var(--accent-color);
          }
        }
        textarea {
          min-height: 140px;
        }
        .wpcf7-form-control {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          .wpcf7-list-item {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            label {
              position: relative;
              display: block;
              width: 100%;
              margin: 0;
              padding: 0 0 0 32px;
              input[type="checkbox"] {
                appearance: none;
                width: 0;
                height: 0;
              }
              input[type="checkbox"]:checked ~ .wpcf7-list-item-label:before {
                background-color: var(--accent-color);
              }
              .wpcf7-list-item-label {
                &:before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 0;
                  display: block;
                  width: 18px;
                  height: 18px;
                  background-color: var(--white-color);
                  border-radius: 3px;
                  border: 1px solid var(--accent-color);
                  transform: translateY(-50%);
                }
              }
              a {
                font-size: 15px;
                font-weight: 500;
                text-decoration: underline;
                color: var(--text-color);
              }
            }
          }
        }
      }
      .form-group-submit {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 36px;
        input[type="submit"] {
          display: block;
          width: 100%;
          padding: 12px 24px;
          font-family: var(--font-family);
          font-weight: var(--font-weight);
          font-size: 17px;
          line-height: var(--font-height);
          color: var(--white-color);
          background-color: var(--accent-color);
          border-radius: 0;
          &:disabled {
            opacity: 0.5;
          }
        }
        .wpcf7-spinner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 8;
        }
      }
    }
  }
  .help-wpcf7-image {
    display: block;
    width: 100%;
    max-width: calc(100% - 540px);
    height: inherit;
    object-fit: cover;
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .help .container {
    max-width: 540px;
  }
  .help .wpcf7 {
    order: 2;
    max-width: 100%;
  }
  .help .help-wpcf7-image {
    order: 1;
    max-width: 100%;
    max-height: 480px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
  .help .wpcf7 {
    padding: 16px;
  }
  .help .wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label .wpcf7-list-item-label {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
}
