.process {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px;
  z-index: 40;
  .container {
    gap: 16px;
  }
  .process-client {
    position: relative;
    display: block;
    width: 100%;
    padding: 80px 60px;
    background: var(--radial-gradient);
    border-radius: 24px;
    overflow: hidden;
    .h2,
    .descr,
    .btn {
      position: relative;
      z-index: 10;
    }
    .h2 {
      margin-bottom: 8px;
    }
    .descr {
      margin-bottom: 16px;
    }
    .process-client__image {
      position: absolute;
      right: 40px;
      bottom: 18px;
      width: 320px;
      height: inherit;
      object-fit: contain;
      border-radius: 18px;
      opacity: 0.7;
      transform: rotate(5deg);
    }
  }
  .process-head {
    position: relative;
    display: block;
    width: 320px;
    height: inherit;
    min-height: 280px;
    padding: 16px;
    background: var(--radial-gradient);
    border-radius: 24px;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: 180px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.6) 60.1%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 5;
    }
    .h2 {
      position: relative;
      z-index: 10;
    }
    .process-head__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }
  }
  .process-wrap {
    max-width: calc(100% - 336px);
  }
  .process-description,
  .process-steps {
    position: relative;
    display: block;
    width: 100%;
    padding: 18px;
    background-color: var(--gray-color);
    border-radius: 24px;
  }
  .process-description {
    margin-bottom: 16px;
    padding-left: 64px;
    &:before {
      content: "";
      position: absolute;
      top: 18px;
      left: 18px;
      display: block;
      width: 32px;
      height: 32px;
      background: url("../img/icons/icon-check.svg") center / contain no-repeat;
    }
  }
  .process-steps {
    .h3 {
      margin-bottom: 16px;
    }
  }
  .list-numbers {
    gap: 24px 16px;
    .list-number {
      position: relative;
      display: block;
      width: 100%;
      max-width: calc(50% - 8px);
      padding-left: 28px;
      &:before {
        content: attr(data-num);
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600;
        color: var(--accent-color);
      }
    }
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
  .process .process-client {
    padding: 60px 40px;
  }
}
@media (max-width: 991px) {
  .process .process-client {
    padding: 16px 16px 110px 16px;
  }
  .process .process-client .process-client__image {
    right: 20px;
    width: 240px;
    opacity: 0.5;
  }
  .process .process-head {
    width: 100%;
  }
  .process .process-wrap {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
  .process .process-client .process-client__image {
    width: 190px;
  }
  .process .list-numbers .list-number {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
