.reviews {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px;
  z-index: 40;
  .h2 {
    margin-bottom: 24px;
    text-align: center;
  }
  .reviews-slider {
    .reviews-slide {
      position: relative;
      aspect-ratio: 9 / 16;
      width: 292px;
      margin-right: 24px;
      border-radius: 24px;
      overflow: hidden;
      .reviews-slide__icon {
        position: absolute;
        top: 16px;
        left: 16px;
        display: block;
        width: 28px;
        height: 28px;
        z-index: 8;
      }
      .reviews-slide__image {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(2px);
        z-index: 5;
      }
      .reviews-slide__play {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 48px;
        height: 48px;
        background: url("../img/icons/icon-play.svg") center / contain no-repeat;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
  .reviews .reviews-slider .reviews-slide {
    margin-right: 8px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
