.worth {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 60px;
  background-color: var(--gray-color);
  z-index: 40;
  .container {
    gap: 24px;
  }
  .h2 {
    text-align: center;
    margin-bottom: 24px;
  }
  .line-items {
    display: block;
    width: 100%;
  }
  .line-item {
    padding-block: 12px;
    border-top: 1px solid var(--accent-color);
    .descr {
      font-weight: bold;
      &:nth-child(1) {
        max-width: calc(100% - 120px);
        padding-right: 40px;
      }
      &:nth-child(2) {
        max-width: 120px;
        text-align: right;
      }
    }
    &:last-child {
      border-bottom: 1px solid var(--accent-color);
    }
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
  .worth {
    padding-block: 40px;
  }
  .worth .line-item .descr:nth-child(1) {
    font-weight: normal;
    font-size: 15px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
