:root {
  --dark-color: #000000;
  --white-color: #ffffff;

  --accent-color: #8a92b4;
  --ice-color: #f0f5ff;
  --gray-color: #e7e7ee;
  --text-color: #1d3349;

  --radial-gradient: radial-gradient(circle at 50% 20%, #f5f5fa 0%, #e7e7ee 50%, #dadae4 100%);

  --container: 1260px;
  --indent: 10px;

  --font-family: "Montserrat", sans-serif;
  --font-weight: 400;
  --font-size: 16px;
  --font-height: 1.4;
}

body {
  margin-bottom: 0 !important;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--text-color);
  background-color: var(--white-color);
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--indent);
}

.pos-r {
  position: relative;
}

.d-block {
  display: block;
}

.df-fs-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.df-fs-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.df-fs-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.df-fs-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.df-ce-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.df-ce-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.df-ce-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.df-ce-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.df-fe-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}
.df-fe-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.df-fe-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.df-sp-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.df-sp-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.df-sp-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.df-sp-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.w-100p {
  width: 100%;
}

.scroll-line-none::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scroll-line-none::-webkit-scrollbar-button {
  background-color: #666;
}
.scroll-line-none::-webkit-scrollbar-track {
  background-color: #999;
}
.scroll-line-none::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.scroll-line-none::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: #666;
  border-radius: 3px;
}
.scroll-line-none::-webkit-scrollbar-corner {
  background-color: #999;
}
.scroll-line-none::-webkit-resizer {
  background-color: #666;
}

button,
input,
textarea {
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &.line-clamp-1 {
    -webkit-line-clamp: 1;
  }
  &.line-clamp-2 {
    -webkit-line-clamp: 2;
  }
  &.line-clamp-3 {
    -webkit-line-clamp: 3;
  }
  &.line-clamp-4 {
    -webkit-line-clamp: 4;
  }
}

.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 50vh;
  padding-block: 80px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
