@media (hover: hover) and (pointer: fine) {
  .breadcrumbs a:hover {
    color: var(--accent-color);
  }

  .btn.btn-primary:hover {
    background-color: var(--accent-color);
    border-radius: 6px;
  }
}
