.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    max-height: 850px;
    padding: 40px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow-y: scroll;
    z-index: 10;
  }
}
