@media (hover: hover) and (pointer: fine) {
}

// if mobile
// @media (hover: none) {
//   .block-02 .projects-slider .projects-slide {
//     .slide-title, .slide-subtitle { transform: translateY(0px);opacity: 1; }
//   }
// }
