html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --accent-color: #8a92b4;
  --ice-color: #f0f5ff;
  --gray-color: #e7e7ee;
  --text-color: #1d3349;
  --container: 1310px;
  --indent: 10px;
  --font-family: "Montserrat", sans-serif;
  --font-weight: 400;
  --font-size: 16px;
  --font-height: 1.4;
}

body {
  margin-bottom: 0 !important;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--text-color);
  background-color: var(--white-color);
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--indent);
}

.pos-r {
  position: relative;
}

.d-block {
  display: block;
}

.df-fs-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.df-fs-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.df-fs-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.df-fs-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.df-ce-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.df-ce-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.df-ce-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.df-ce-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.df-fe-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.df-fe-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.df-fe-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.df-sp-fs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.df-sp-ce {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.df-sp-fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.df-sp-st {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.w-100p {
  width: 100%;
}

.scroll-line-none::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll-line-none::-webkit-scrollbar-button {
  background-color: #666;
}

.scroll-line-none::-webkit-scrollbar-track {
  background-color: #999;
}

.scroll-line-none::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.scroll-line-none::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: #666;
  border-radius: 3px;
}

.scroll-line-none::-webkit-scrollbar-corner {
  background-color: #999;
}

.scroll-line-none::-webkit-resizer {
  background-color: #666;
}

button,
input,
textarea {
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-clamp-1 {
  -webkit-line-clamp: 1;
}
.line-clamp.line-clamp-2 {
  -webkit-line-clamp: 2;
}
.line-clamp.line-clamp-3 {
  -webkit-line-clamp: 3;
}
.line-clamp.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 50vh;
  padding-block: 80px;
  background-color: rgba(0, 0, 0, 0.1);
}

.h1 {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: var(--font-height);
  color: var(--text-color);
}

@media (max-width: 1440px) {
  .h1 {
    font-size: 44px;
  }
}
@media (max-width: 1199px) {
  .h1 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .h1 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .h1 {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .h1 {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .h1 {
    font-size: 27px;
  }
}
.h2 {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: var(--font-weight);
  color: var(--text-color);
}

.breadcrumbs {
  gap: 8px 12px;
}
.breadcrumbs a {
  display: block;
  color: var(--text-color);
  transition: all 0.4s ease;
}

@media (max-width: 767px) {
  .breadcrumbs {
    gap: 6px 8px;
  }
  .breadcrumbs a,
  .breadcrumbs span {
    font-size: 15px;
  }
}
.head {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 60px 40px;
  background-color: var(--ice-color);
  z-index: 40;
}
.head .h1 {
  margin-bottom: 8px;
}

.footer {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  max-height: 850px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  overflow-y: scroll;
  z-index: 10;
}

@media (hover: hover) and (pointer: fine) {
  .breadcrumbs a:hover {
    color: var(--accent-color);
  }
}/*# sourceMappingURL=app.css.map */