@use "./data/reset";
@use "../slick/slick.min.css";
@use "../slick/slick-theme.min.css";
@use "../fonts/stylesheet.css";
@use "./data/slick-lightbox.css";
@use "./data/data";

@use "./data/header";

// components
@use "./components/h1";
@use "./components/h2";
@use "./components/h3";
@use "./components/descr";
@use "./components/btn";
@use "./components/breadcrumbs";

// blocks
@use "./blocks/head";
@use "./blocks/process";
@use "./blocks/worth";
@use "./blocks/comparison";
@use "./blocks/reviews";
@use "./blocks/help";
@use "./blocks/team";
@use "./blocks/services";
@use "./blocks/faq";
@use "./blocks/contacts";

@use "./data/footer";
@use "./data/popup";
@use "./data/hover";

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
