.btn {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 12px 32px;
  border-radius: 24px;
  transition: all 0.3s ease;
  &.btn-primary {
    color: var(--white-color);
    background-color: var(--text-color);
  }
}

a.btn {
  text-align: center;
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
