.h2 {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: var(--font-weight);
  color: var(--text-color);
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
