.h3 {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 26px;
  line-height: var(--font-height);
  color: var(--text-color);
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .h3 {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .h3 {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  .h3 {
    font-size: 19px;
  }
}
@media (max-width: 400px) {
}
